<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-drivers-common"
    version="1.0">

    <name>DriversCommon</name>
    <description>Dependencies for Drivers app</description>
    <license>MIT</license>
    <keywords></keywords>

    <engines>
        <engine name="cordova" version=">=6.5.0"/>
    </engines>

    <platform name="android">
        <!-- Overriding Smooch dependencies to match phonegap-plugin-push and cordova-background-geolocation -->
        <framework src="com.google.android.gms:play-services-base:11.0.4" />
        <framework src="com.google.android.gms:play-services-basement:11.0.4" />
        <framework src="com.google.android.gms:play-services-gcm:11.0.4" />
        <framework src="com.google.android.gms:play-services-location:11.0.4" />
        <framework src="com.google.android.gms:play-services-analytics:11.0.4" />
        <framework src="com.google.android.gms:play-services-maps:11.0.4" />
        <framework src="com.google.android.gms:play-services-tasks:11.0.4" />
        <framework src="com.google.firebase:firebase-common:11.0.4" />
        <framework src="com.google.firebase:firebase-core:11.0.4" />
        <framework src="com.google.firebase:firebase-iid:11.0.4" />
        <framework src="com.google.firebase:firebase-analytics:11.0.4" />
        <framework src="com.google.firebase:firebase-messaging:11.0.4" />
    </platform>

</plugin>
